<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6bHrhdkL1Sfgk_9NxOB_tv6Jszr7Tkio</string>
	<key>GCM_SENDER_ID</key>
	<string>860082283576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.form.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>image-916e0</string>
	<key>STORAGE_BUCKET</key>
	<string>image-916e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860082283576:ios:9bbd39353309452429b2cd</string>
</dict>
</plist>